*{margin:0;
    padding:0;

      }
    
    body{
      width: 100%;
      height: auto;
      background-image: url("images/1019837.jpg"); ;
      
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: auto;}
    
    nav{
      width: 95%;
      height: 130px;
      box-shadow:  10px 5px 10px 5px rgb(0, 3, 5) , -20px 0px 50px #359dfd;
      background-color:rgba(4, 180, 250, 0.8);
      position: fixed;
      margin-left: 2.5%;
      margin-top: 1%;
      z-index: 100;
    }
    .icononav{
      width:10%;
      height: 90%;
      float: left;
      border-radius: 50%;
      padding-top: 0.5%;
      margin: 2px 2%;
  }
  .espacio{
    width: 100%;
    height: 5%;
  }
  .identidad{
    width: 35%;
    height: 90%;
    padding-top: 3%;
  }
  .iconointi{
    width:15%;
    height: auto;
    float:right;
   padding-right: 1%;  
   padding-top: 3%;
}
.iconoap{
  width:10%;
  height: auto;
  float:right;
 padding-right: 2%;  
 padding-top: 2%;
}
  h4{
    color:white;
   
  }
  h3{
    color: white;
    
  }
  h2{
    color: white; 
  }
  h1{
    color: white; 
  }
  .listita{
    width: 40%;
    height: auto;
    float: left;
	list-style: none; 
    margin-left: 10%;
    margin-top: 2%;
    display: block;
    opacity: 1.;
    border-right: 0px ;
}

.listita li{
	width: 25%;
	float: left;
	height: auto;
  border-right: 0px ;
	
   margin-left: 5%;
    transition: 0.3s; 
    margin-bottom: 10%;
    transition-timing-function: cubic-bezier(.83, .93, 0, .99);
	} 

.listita li:hover{
   transform: scale(1.1);
   z-index: 100;  
    opacity: 0.5;
    
    
}
.renglonred{
  width: 80%;
  height: auto;
  padding-left: 2%;
  margin-top: 1%;
  position: left;

}
.iconored{
  width: 60%;
  height: auto;
  position: left;
  padding-left: 2%;
  margin-bottom: 15%;
  

}


/*galeria*/

#galeria{
  width: 90%;
  height: auto;
  padding-top: 20%;
  padding-left: 15%;
   padding-bottom: 10%;
 }

.imagengaleria{
  width: 20%;
  height: 200px;
  margin-right: 1%;
  position: relative;
  color: black;
  opacity: 1;
  transition: 0.5s; 
  transition-timing-function: cubic-bezier(.83, .93, 0, .99);
  border-radius: 7%;
 
}
.imagengaleria:hover{
 transform: scale(1.8);
  opacity: 1;
  border-radius: 7%;
  z-index: 100;
}


  #inicio{
    width: 100%;
    height: 15%;
    padding-top: 30px; 
    font-size: 20px;
    padding-bottom: 14%;
}
#info-academica{
  width: 100%;
  height: 15%;
  background: rgb(17, 160, 226, 0.7);
  font-size: 20px;
  padding-bottom: 4%;
}
#info-personal{
  width: 100%;
  height: 15%;
  background: rgb(11, 53, 77, 0.7);
   font-size: 20px;
  padding-bottom: 4%;
}
  #info-laboral{
    width: 100%;
    height: 15%;
    background: rgb(35, 35, 82, 0.7);
    font-size: 20px;
    padding-bottom: 4%;
}
#contacto{
  width: 100%;
  height: 15%;
  background: rgba(45, 91, 109, 0.7);
  font-size: 20px;
  padding-bottom: 4%;
}


.menu{
  width: 65%;
  height: 120px;
  float:right;
 padding-top: 30px;
 padding-right: 0.5%;

}
.menu ul{
list-style: none;
float: right;
display: flex;

}
.menu li{
  font-size: 16px;
  color: white;
}

.menu li a{
  display: block;
  padding:  17px ;
  color:white;
  text-decoration: none;
}
.menu li:hover {
  color:skyblue;
  transition-timing-function: cubic-bezier(.83, .93, 0, .99);
  opacity: 0.8;
  font-size: 20px;
  position: relative;
  font-language-override: normal;
  
  
 }
 .menu li a:hover {
  color:skyblue;
  font-size: 20px;
  position: relative;
  font-language-override: normal;
  
 }